<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBD_pendulum_simulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PBD_pendulum_simulation.Properties.Settings>
            <setting name="sett_mass1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sett_mass2" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="sett_mass3" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="sett_length1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sett_length2" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="sett_length3" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="sett_initialangle1" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="sett_initialangle2" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="sett_initialangle3" serializeAs="String">
                <value>60</value>
            </setting>
        </PBD_pendulum_simulation.Properties.Settings>
    </userSettings>
</configuration>