<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="billiard_collisions_simulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <billiard_collisions_simulation.Properties.Settings>
            <setting name="Sett_number_of_balls" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sett_minimum_radius" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sett_maximum_radius" serializeAs="String">
                <value>30</value>
            </setting>
        </billiard_collisions_simulation.Properties.Settings>
    </userSettings>
</configuration>