<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="String_vibration_openTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <String_vibration_openTK.Properties.Settings>
            <setting name="Sett_inlcond_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sett_inlcond_ampl" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sett_inlcond_interpol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sett_load_interpol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sett_load_option" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sett_load_ampl" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sett_load_starttime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Sett_load_endtime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Sett_modal_selected_index" serializeAs="String">
                <value>0</value>
            </setting>
        </String_vibration_openTK.Properties.Settings>
    </userSettings>
</configuration>